body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #000;
    display: inline-block;
    border-left: 5px solid #0ca597;
}

.top-menu {
    display: inline-flex;
    float: left;
    margin: 10px 20px;
    
}

.top-menu-item {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
}

.top-menu-item:hover {
        
}

.logo {
    height: 50px;
    float: right;
}

.logo img {
    height:100%;
}