@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    margin: 0 0 100px;
}

.title {
    font-size: 36px;
    position: relative;
    padding-bottom: 10px;
}

.title::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    height: 4px;
    background: #05ccc9;
}

.col-3 {
    flex: 0 0 33.33333%;
    padding: 3%;
}

.col-6 {
    flex: 0 0 66.66666%;
    padding: 3%;
}

.text-center {
    text-align: center;
}



/* Header start */
.header {
    position: fixed;
    z-index: 999;
    height: 60px;
    width: 100%;
    background-color: #000;
    display: inline-flex;
    border-bottom: 5px solid #05ccc9;
    justify-content: space-between;
}

.top-menu {
    display: inline-flex;
    float: left;
    height: 60px;
    margin: 0;
    text-decoration: none;
}

.top-menu li {
    list-style: none;
}

.top-menu .has-child > ul{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 100px;
    z-index: 1;
    padding: 10px 0px;
}

.top-menu .has-child:hover > ul{
    display: block;
}

.top-menu-item  a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
}


.top-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo {
    height: 50px;
    float: right;
    margin: 5px 40px;
}

.logo img {
    height:100%;
}

/* Header end */

/* Slideshow start */

.slideshow {
    position: relative;
    padding-top: 60px;
}

.slideshow .image-container {
    background: url(../images/lewis.jpeg) no-repeat scroll center center;
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideshow .image-title {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

/* Slideshow end */

/* About start */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 10%;
}

/* About end */

/* Last results start */

.last-results {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
}

.last-results-table {
    width: 100%;
}

.last-results-table td {
    text-align: center;
    padding: 2px;
}

.last-results-table tbody tr:hover, .last-results-table tbody tr:focus {
    background-color: rgba(255, 255, 255, 0.2);;
    
}

.last-results-table thead {
    background-color: #bb0f0f;
}

.last-results-table caption {
    font-size: 20px;
    padding: 10px;
    background-color: #05ccc9;
}

/* Last results end */

/* Footer start */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 20px 3%;
    background-color: #000;
    color: #636363;
    border-top: 1px solid #333333;
}

.social-list {
    font-size: 24px;
}

.social-list i:hover {
    color: #05ccc9;
}

.social-list i {
    color: #333333;
    margin-right: 10px;
}

/* Footer end */