body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #000;
    display: inline-block;
    border-left: 5px solid #0ca597;
}

.top-menu {
    display: inline-flex;
    float: left;
    height: 60px;
    margin: 0;
    text-decoration: none;
}

.top-menu li {
    list-style: none;
}

.top-menu .has-child > ul{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 100px;
    z-index: 1;
    padding: 10px 0px;
}

.top-menu .has-child:hover > ul{
    display: block;
}

.top-menu-item  a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
}


.top-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo {
    height: 50px;
    float: right;
    margin: 5px 40px;
}

.logo img {
    height:100%;
}