@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    margin: 0 0 100px;
}

.title {
    font-size: 36px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.title::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    height: 4px;
    background: #05ccc9;
}

.col {
    flex: 1 1 0;
    padding: 50px;
}

.p50 {
    padding: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

.hide-xs {
    display: none;
}

.text-center {
    text-align: center;
}

.page-name {
    font-size: 35px;
    text-align: center;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
}

/* Header start */
.header {
    position: fixed;
    z-index: 999;
    height: 60px;
    width: 100%;
    background-color: #000;
    display: inline-flex;
    border-bottom: 5px solid #05ccc9;
    justify-content: space-between;
}

.top-menu {
    display: inline-flex;
    float: left;
    height: 60px;
    margin: 0;
    text-decoration: none;
    transition: all .5s ease;
}

.top-menu li {
    list-style: none;
}
.top-menu li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
}

.top-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.top-menu li.has-child > a::after{
    content: " ⯆";
}

.top-menu .has-child > ul{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 100px;
    z-index: 1;
    padding: 10px 0px;
}

.top-menu .has-child:hover > ul{
    display: block;
}


.logo {
    height: 50px;
    float: right;
    margin: 5px 40px;
}

.logo img {
    height:100%;
}

#nav-btn {
    display: none;
    position: relative;
    padding: 20px;
    float: left;
}

#nav-check {
    display: none;
}

/* Header end */

/* Slideshow start */

.slideshow {
    position: relative;
    padding-top: 60px;
}

.slideshow .image-container {
    background: url(../images/lewis.jpeg) no-repeat scroll center center;
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideshow .image-title {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

/* Slideshow end */

/* About start */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 10%;
}

/* About end */

/* Last results start */

.last-results {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.last-results-table {
    width: 100%;
}

.last-results-table td {
    text-align: center;
    padding: 2px;
}

.last-results-table tbody tr:hover, .last-results-table tbody tr:focus {
    background-color: rgba(255, 255, 255, 0.2);;
    
}

.last-results-table thead {
    background-color: #bb0f0f;
}

.last-results-table caption {
    font-size: 20px;
    padding: 10px;
    background-color: #05ccc9;
}

/* Last results end */

/* Footer start */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #000;
    color: #636363;
    border-top: 1px solid #333333;
}

.footer-container {
    padding: 25px;
}

.social-list {
    font-size: 24px;
}

.social-list i:hover {
    color: #05ccc9;
}

.social-list i {
    color: #333333;
    margin-right: 10px;
}

/* Footer end */

/* Comments start */

.comment-item {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}

.comment-list .comment-item:nth-child(2n){
    background-color: #ececec;
}

.comment-date{
    float: left;
    margin-top: 10px;
    font-style: italic;
    font-size: 13px;
}

.comment-name {
    float: right;
    margin-top: 10px;
    font-weight: bold;
}



.input-name{
    width: 100%;
    padding: 10px;
}

.input-comment {
    width: 100%; 
    padding: 10px;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    background-color: #05ccc9;
    transition-duration: 0.5s;
  }

  .btn:hover {
    color: white;
    background-color: #019b98;
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .mt40{
      margin-top: 40px;
  }

@media screen and (max-width: 800px) {

    #nav-btn {
        display: block;
    }
    
    #nav-btn span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #05ccc9;
        border-radius: 1px;
        z-index: 1;
    }

    #nav-check {
        display: block;
        width: 33px;
        height: 27px;
        position: absolute;
        top: 20px;
        left: 20px;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #nav-check:checked ~ #nav-btn span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 8px);
    }

    #nav-check:checked ~ #nav-btn span:nth-child(2) {
        transform: rotate(-45deg) translate(-2px, -1px);
    }

    #nav-check:checked ~ #nav-btn span:nth-child(3) {
        opacity: 0;
    }

    #nav-check:checked ~ .top-menu {
        position: absolute;
        height: 500px;
        width: 100%;
        padding: 100px 0;
        text-align: center;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: black 0px 15px 30px 30px;
    }

    .top-menu {
        display: none;
    }

    .top-menu .has-child > ul {
        position: relative;
        display: block;
    }

    .top-menu .has-child > ul li a{
        line-height: 25px;
        font-size: 12px;
    }

    .about {
        flex-direction: column;
        text-align: justify;
    }
    
    .col {
        padding: 10px;
    }

    .slideshow .image-container {
        height: 300px;
    }
    .slideshow .image-title {
        font-size: 20px;
        width: 50%;
        top: 50%;
    }

    .title::before{
      width: 100%;  
    }

    .last-results{
        flex-direction: column;
    }
}